.navbar {
  width: 100%;
  min-height: var(--navbar-height);
  background-color: #10283d;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding: 10px clamp(15px, 4vw, 50px);
}

.navbar a {
  font-family: "Bree Serif", serif;
  font-size: clamp(16px, 2.2vw, 25px);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }
}
