@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

:root {
  --navbar-height: 60px;
}

@media (max-width: 480px) {
  :root {
    --navbar-height: 100px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
